<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
        background-image: url('https://coolbackgrounds.io/images/unsplash/samuel-zeller-medium-b832fe04.jpg');
    }

    h1 {
        color: orangered;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
</style>
</head>


<body>
    <h1>Instagram Video Downloader lol<h1><br>
    	<form method='POST'>
            <h3>Enter video name</h3><br><br>
            <input placeholder="Enter video name" name="name">
    		<h3>Enter instagram video code</h3><br><br>
    		<input placeholder="instavideo code" name='text'>
    		<input type='submit'>
    	</form>
</body>
</html>
